* {
  margin: 0;
  padding: 0;
}

:root {
  
}

a {
  text-decoration: none;
}
a:hover {
}

ul {
  list-style: none;
}

body {


}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
 
}
button:hover {
 
}



